<div class="contact-container">
    <div class="council-section">
      <h2>Kultuuriklubi juhatuse liikmed</h2>
      <div class="council-grid">
     
        <mat-card class="council-member">
          <img mat-card-image src="assets/images/tundmatu.jpg" alt="Nimi 1" class="council-picture" />
          <mat-card-title>Nimi 1</mat-card-title>
          <mat-card-subtitle>Haldusjuht</mat-card-subtitle>
        </mat-card>
  
        <mat-card class="council-member">
          <img mat-card-image src="assets/images/tundmatu.jpg" alt="Nimi 2" class="council-picture" />
          <mat-card-title>Nimi 2</mat-card-title>
          <mat-card-subtitle>Projektijuht</mat-card-subtitle>
        </mat-card>

        <mat-card class="council-member">
          <img mat-card-image src="assets/images/tundmatu.jpg" alt="Nimi 3" class="council-picture" />
          <mat-card-title>Nimi 3</mat-card-title>
          <mat-card-subtitle>Turundus-ja kommunikatsioon juht</mat-card-subtitle>
        </mat-card>

        <mat-card class="council-member">
          <img mat-card-image src="assets/images/tundmatu.jpg" alt="Nimi 4" class="council-picture" />
          <mat-card-title>Nimi 4</mat-card-title>
          <mat-card-subtitle>Liikmehaldur</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
    <div class="contact-text">
        <h1>Võta meiega ühendust!</h1>
        <p>
            Kui sul on vaja meiega ühenduses olla või sul on soov hoopis liituda, siis saab meid kätte 
            e-maili, instagrami või facebooki kaudu, lisaks sellele võib meid leida ka kontorist.
        </p>
        <ul>
          <li><strong>Kontor:</strong> Ruum S-139, Tallinna Ülikool</li>
          <li><strong>E-mail:</strong> <a href="mailto:kultuuriklubi@esindus.ee">kultuuriklubi&#64;esindus.ee</a></li>
          <li><strong>Instagram:</strong> <a href="https://instagram.com/kultuuriklubitlu" target="_blank">&#64;kultuuriklubitlu</a></li>
          <li><strong>Facebook:</strong> <a href="https://facebook.com/kultuuriklubi" target="_blank">Tallinna Ülikooli Kultuuriklubi</a></li>
        </ul>
      </div>
  </div>