<div class="admin-container">
  <h1>Admin leht</h1>

  <div class="admin-content">
    <div class="event-section">
      <h2>Ürituste muutmine</h2>
      <!-- Event Form -->
      <form (submit)="createEvent()" enctype="multipart/form-data">
        <div>
          <label for="name">Ürituse nimi:</label>
          <input type="text" id="name" [(ngModel)]="eventName" name="name" required />
        </div>

        <div>
          <label for="description">Ürituse kirjeldus:</label>
          <textarea id="description" [(ngModel)]="eventDescription" name="description" required></textarea>
        </div>

        <div>
          <label for="date">Ürituse kuupäev:</label>
          <input type="date" id="date" [(ngModel)]="eventDate" name="date" required />
        </div>

        <div>
          <label for="time">Ürituse aeg:</label>
          <input type="time" id="time" [(ngModel)]="eventTime" name="time" required />
        </div>

        <div>
          <label for="coverPicture">Pilt:</label>
          <input type="file" id="coverPicture" (change)="onFileSelected($event)" required />
        </div>

        <button type="submit">Lisa üritus</button>
      </form>

      <!-- Events -->
      <h3>Üritused</h3>
      <div *ngFor="let event of events" class="event-item">
        <img *ngIf="event.coverPicture" [src]="event.coverPicture" alt="Event Cover" />
        <div class="event-details">
          <h4>{{ event.name }}</h4>
          <p>{{ event.description }}</p>
          <p><strong>Kuupäev:</strong> {{ event.date | date }}</p>
          <p><strong>Aeg:</strong> {{ event.time }}</p>
          <button (click)="deleteEvent(event._id)">Kustuta</button>
        </div>
      </div>
    </div>

    <!--Gallery-->
    <div class="gallery-section">
      <h2>Galerii muutmine</h2>
      <form (submit)="uploadGalleryPicture()" enctype="multipart/form-data">
        <div>
          <label for="galleryName">Pildi nimi:</label>
          <input type="text" id="galleryName" [(ngModel)]="galleryName" name="galleryName" required />
        </div>

        <div>
          <label for="galleryPicture">Galerii pilt:</label>
          <input type="file" id="galleryPicture" (change)="onGalleryFileSelected($event)" required />
        </div>

        <button type="submit">Lisa pilt</button>
      </form>

      <h3>Galerii</h3>
      <div *ngFor="let picture of gallery" class="gallery-item">
        <img *ngIf="picture.galleryPicture" [src]="picture.galleryPicture" alt="Gallery Picture" />
        <p>{{ picture.name }}</p>
        <button (click)="deleteGalleryPicture(picture._id)">Kustuta</button>
      </div>
    </div>
  </div>
</div>