<div class="max-w-sm mx-auto mt-10 p-6 border-gray-300 rounded">
  <h2 class="text-2xl font-bold mb-4">Register</h2>

  <form (submit)="onSubmit(regForm)" #regForm="ngForm">
    <input
    [(ngModel)]="name"
    type="text" name="name" placeholder="Username" required class="block w-full mb-3 p-2 border">
    <input
    [(ngModel)]="email"
    type="text" name="email" placeholder="Email" required class="block w-full mb-3 p-2 border">
    
    <input
    [(ngModel)]="password"

    type="password" name="password" placeholder="Password" required class="block w-full mb-3 p-2 border">

    <button
    type="submit"  class="bg-blue-600 text-white px-4 py-2 rounded w-full"
    >Sign up</button>
  </form>
</div>